{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-manager-navbar">
    <div class="container-fluid" style="margin: 0 50px 0 35px;">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-center">
              <li class="nav-item me-5">
                <a href="{% url 'pending-post' %}"><i class="fas fa-bell text-white"></i><span class="text-danger"> {{pending_blog_posts.count|add:pending_book_posts.count}}</span></a>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                    <a href="/" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src='{{manager.managerImageURL}}' alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>{{manager.username}}</strong>
                    </a>
                    <ul class="bg-manager-sidebar dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="{% url 'manager-dashboard' request.user.username %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                        <li><a class="dropdown-item" href="{% url 'manager-profile' request.user.username %}"><i class="fas fa-user"></i> Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    </ul>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </nav>