{% extends "users/main.html" %} 
{% load static %} 
{% block content %}

<div class="container">
    <div class="row mb-5 mt-5">
        <div class="col-md-6">
            <img src="{{ book.bookImageURL }}" class="card-img-top" alt="{{ book.name }}">
        </div>
        <div class="col-md-6">
            <div class="p-3 bg-white border-radius-10 border-bottom-radius-none border-all">
              <div class="mb-3 d-flex justify-content-between">
                <div>
                  <h2><a class="text-blue font-weight-700" href="{% url 'books-details' book.slug %}"> {{ book.name }} </a></h2>
                  <h6 class="text-blue"> by {{book.author}} (Author)</h6>
                </div>
                <div class="p-3">
                  <ul class="navbar-nav">
                    {% if flag == True %}
                    <li class="nav-item">
                      <div class="dropdown">
                          <a href="/" class="d-flex align-items-center text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-edit"></i>
                          </a>
                          <ul class="bg-navbar dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="background-color: #0b3953;">
                              <li><a class="dropdown-item" href="{% url 'update-post' book.id %}"><i class="fas fa-edit"></i> Update Post</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="{% url 'delete-post' book.id %}"><i class="fas fa-trash-alt"></i> Delete Post</a></li>
                            </ul>
                          </div>
                        </li>
                        {% endif %}
                      </ul>
                </div>

              </div>

              <div class="blog-item-meta mb-2">
                <span class="text-black text-capitalize me-3">
                  <i class="fas fa-book mr-2"></i> {{ book.edition }} Edition
                </span>
                <!-- <span class="text-capitalize me-3">
                  <i class="fas fa-bookmark mr-2"></i> {{ book.category.category }} Category
                </span> -->
                {% for cat in book.category.all %}
                    <span class="text-capitalize me-3">
                      &bull; {{ cat.name }}
                    </span>
                {%endfor%}
              </div>
              <div class="mb-3">
                <span class="text-black text-capitalize me-3">
                  <i class="far fa-calendar-alt mr-2"></i> {{ book.created|date:"d N Y" }}
                </span>
                <a href="{% url 'user-profile' book.creator.username %}" class="text-blue text-capitalize mr-3">
                  <i class="fa fa-user mr-2"></i> {{ book.creator.first_name }}
                </a>
              </div>
              <p class="card-text">{{ book.description | linebreaksbr }}</p>

              <div class="d-flex align-items-end">
                {% if book.exchange == 'Yes' %}
                <p class="font-weight-700">Exchange: <span style="font-size: 1.5em;" class="font-weight-900 text-blue">{{book.exchange}}</span></p>
                {% else %}
                <!-- <p class="font-weight-700">Exchange: <span style="font-size: 1.5em;">{{book.exchange}}</span></p> -->
                {% endif%}
                {% if book.price != None %}
                <p class="font-weight-700 ms-3">Price: <span class="font-weight-900 text-blue" style="font-size: 2em;">&#2547;</span><span style="font-size: 1.5em;" class="font-weight-900 text-blue">{{book.price}}</span></p>
                {% else %}
                <!-- <p class="font-weight-700 ms-3">Price: <span style="font-size: 1.5em;">{{book.price}}</span></p> -->
                {% endif%}
              </div>
              
              <p class="card-text"><small class="text-muted">Last Updated: {{ book.updated }}</small></p>
              {% if book.update %}
              <p class="card-text"><small class="text-muted">Last {{book.update}} ago</small></p>
              {% endif %}
            </div>



              <!-- Book Old Comment Section -->
            {% if book.bookcomment_set.all %}
            <div class="col-lg-12 col-md-12">
              <div class="p-3 border-right border-left" style="background-color: #fafafa;">
                <p class="text-muted fw-bold">All Comments</p>
                {% for comment in book.bookcomment_set.all %}
                <div class="pt-2 pb-2" style="border-bottom: 1px solid #e2e2e2;">
                  <div class="d-flex align-items-center">
                    {% if comment.creator.groups.all.0.name == 'customer' %}
                    {% for commentCus in all_customer %}
                    {% if commentCus.username == comment.creator %}
                    <img src='{{commentCus.customerImageURL}}' alt="" width="34" height="34" class="rounded-circle me-2">
                    {% endif %}
                    {% endfor %}
                    {% elif comment.creator.groups.all.0.name == 'manager' %}
                    {% for commentman in all_manager %}
                    {% if commentman.username == comment.creator %}
                    <img src='{{commentman.managerImageURL}}' alt="" width="34" height="34" class="rounded-circle me-2">
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    <div>
                      {% if comment.creator.groups.all.0.name == 'customer' %}
                      <h6 class="ps-2"><a class="username-text" href="{% url 'user-profile' comment.creator %}"> {{comment.creator.first_name}} {{comment.creator.last_name}} </a></h6>
                      {% elif comment.creator.groups.all.0.name == 'manager' %}
                      <h6 class="ps-2"><a class="username-text" href="#"> {{comment.creator.first_name}} {{comment.creator.last_name}} </a><span><i class="fas fa-check-circle text-primary"></i></span></h6>
                      {% endif %}
                      <h6 class="text-muted ps-2 font-tiny">
                        <i class="far fa-calendar-alt mr-2"></i> {{ comment.created|date:"d N Y" }}
                      </h6>
                    </div>
                  </div>
                  <p class="margin-zero">{{comment.comment}}</p>
                  {% if comment.image %}
                  <br>
                    <img src="{{comment.image.url}}" alt="">
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}

            <!-- Book Create Comment Section -->
            <div class="col-lg-12 col-md-12 mb-4">
              <div class="p-3 d-flex justify-content-end border-right border-left border-bottom" style="background-color: #fafafa; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                <ul class="navbar-nav" style="width: 100%;">
                  <li class="nav-item">
                    <div class="dropdown">
                        <a href="/" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong><i class="fas fa-quote-left"></i> Create Comment</strong>
                        </a>
                        <ul class="bg-navbar dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="background-color: #0b3953; width: 100%;">
                            
                          <div class="m-2">
                            <form method="POST" action="" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="p-3">
                                {% for field in commentForm %}
                                {% if field.label == 'Book' %}
                                <input type="hidden" id="bookName" name="bookName" id="replyingto_id" value="{{ book }}">
                                {% else %}
                                <div>
                                  {{field}}
                                </div>
                                {% endif %}
                                {% endfor %}
                              </div>
                              <input class="btn btn--sub btn--lg  my-md btn-blue" type="submit" value="Submit" />
                            </form>
                          </div>
                          
                        </ul>
                    </div>
                  </li>
                </ul>          
              </div>
            </div>


          </div>
      </div>
</div>

{% endblock %}
