.bg-manager-sidebar{
    background-color: #082a3d;
}
.bg-manager-card{
    background-color: #0b3953;
}
.bg-manager-navbar{
    background-color: #0d4363;
}
.bg-manager-primary{
    background-color: #0d6efd;
}