.nav-link{
    margin-right: 3rem;
}
.banner-div{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
