{% extends "users/main.html" %} 
{% load static %}
{% load widget_tweaks %}
{% load bootstrap %}
{% block content %}

<div class="container">
  <br><br>
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        
        {% if blogs %}
        {% for blog in blogs %}
        {% if blog.review == 'True' %}
        {% if blog.creator.groups.all.0.name == 'customer' %}
          
          <div class="sidebar-wrap">
            <div class="panel-heading book-search-heading d-flex align-items-center border-all">
              {% for cus in all_customer %}
              {% if cus.username == blog.creator %}
              <img src='{{cus.customerImageURL}}' alt="" width="50" height="50" class="rounded-circle me-2">
              <div>
                <h4 class="font-weight-700 ps-2"><a class="username-text" href="{% url 'user-profile' blog.creator %}"> {{blog.creator.first_name}} {{blog.creator.last_name}} </a></h4>
                <h6 class="text-capitalize ps-2 font-small">
                  <i class="far fa-calendar-alt mr-2"></i> {{ blog.created|date:"d N Y" }}
                </h6>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <div class="sidebar-widget latest-post px-4 py-2 bg-blog border-bottom border-left border-right">
                <div class="mb-3">
                  <h2 class=""><a class="text-blue" href="#"> {{ blog.title }} </a></h2>
                </div>
                <p class="mb-3">{{ blog.blog | linebreaksbr }}</p>
                {% if blog.image %}
                <img src="{{blog.image.url}}" alt="">
                {% endif %}
                <p class="card-text mb-2"><small class="text-muted">Last Updated: {{ blog.updated }}</small></p>
            </div>
          </div>

          <!-- Blog Old Comment Section -->
          {% if blog.blogcomment_set.all %}
          <div class="col-lg-12 col-md-12">
            <div class="p-3 border-right border-left" style="background-color: #fafafa;">
              <p class="text-muted fw-bold">All Comments</p>
              {% for comment in blog.blogcomment_set.all %}
              <div class="pt-2 pb-2 border-bottom">
                <div class="d-flex align-items-center">
                  {% if comment.creator.groups.all.0.name == 'customer' %}
                  {% for commentCus in all_customer %}
                  {% if commentCus.username == comment.creator %}
                  <img src='{{commentCus.customerImageURL}}' alt="" width="34" height="34" class="rounded-circle me-2">
                  {% endif %}
                  {% endfor %}
                  {% elif comment.creator.groups.all.0.name == 'manager' %}
                  {% for commentman in all_manager %}
                  {% if commentman.username == comment.creator %}
                  <img src='{{commentman.managerImageURL}}' alt="" width="34" height="34" class="rounded-circle me-2">
                  {% endif %}
                  {% endfor %}
                  {% endif %}

                  <div>
                    {% if comment.creator.groups.all.0.name == 'customer' %}
                    <h6 class="ps-2"><a class="username-text" href="{% url 'user-profile' comment.creator %}"> {{comment.creator.first_name}} {{comment.creator.last_name}} </a></h6>
                    {% elif comment.creator.groups.all.0.name == 'manager' %}
                    <h6 class="ps-2"><a class="username-text" href="#"> {{comment.creator.first_name}} {{comment.creator.last_name}} </a><span><i class="fas fa-check-circle text-primary"></i></span></h6>
                    {% endif %}
                    <h6 class="text-muted ps-2 font-tiny">
                      <i class="far fa-calendar-alt mr-2"></i> {{ comment.created|date:"d N Y" }}
                    </h6>
                  </div>
                </div>
                <p class="margin-zero">{{comment.comment}}</p>
                {% if comment.image %}
                <br>
                  <img src="{{comment.image.url}}" alt="">
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          <!-- Blog Create Comment Section -->
          <div class="col-lg-12 col-md-12 mb-4">
            <div class="p-3 d-flex justify-content-end border-left border-right border-bottom" style="background-color: #fafafa; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <ul class="navbar-nav" style="width: 100%;">
                <li class="nav-item">
                  <div class="dropdown">
                      <a href="/" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                          <strong><i class="fas fa-quote-left"></i> Create Comment</strong>
                      </a>
                      <ul class="bg-navbar dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="background-color: #0b3953; width: 100%;">
                          
                        <div class="m-2">
                          <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="p-3">
                              {% for field in commentForm %}
                              {% if field.label == 'Blog' %}
                              <input type="hidden" id="blogTitle" name="blogTitle" id="replyingto_id" value="{{ blog }}">
                              {% else %}
                              <div>
                                {{field}}
                              </div>
                              {% endif %}
                              {% endfor %}
                            </div>
                            <input class="btn btn--sub btn--lg  my-md btn-blue" type="submit" value="Submit" />
                          </form>
                        </div>
                        
                      </ul>
                  </div>
                </li>
              </ul>          
            </div>
          </div>
        {% endif %}

        {% else %}
        <div class="p-3 mb-3 bg-white border-all border-radius-10">
          <strong class="text-muted"><span class="text-blue">"{{blog.title}}"</span> blog posts still not reviewed by Manager. We appreciate your patience. Thank you.</strong>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <strong>There is no Blog Post from Customer yet.</strong>
        {% endif %}
      </div>
    </div>

    <div class="col-lg-4">
      <div class="book-side-bg ms-3 mb-4" style="background-color: #d4e7f5;border: 1px solid #b5dcf8;">
        <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0 my-5">
          <div class="panel-heading book-search-heading bg-{{request.user.groups.all.0.name}}">
            <h3 class="text-center text-white font-weight-700"><i class="fas fa-thumbtack"></i> Manager Pinned Post({{latest_manager_blogs|length}})</h3>
          </div>
          <div class="sidebar-widget latest-post mb-3 px-4 py-2">
            {% for blog in latest_manager_blogs %}
            <div class="py-2">
              <h6 class="my-2">
                <a class="text-blue font-weight-700" href="{% url 'blogs-home-manager' %}">
                  {{ blog.title }}
                </a>
              </h6>
              <span class="text-sm text-muted" >
                {{ blog.created|date:"d N Y" }}
            </span>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
      <div class="book-side-bg ms-3 mb-4">
        <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0 my-5">
          <div class="panel-heading book-search-heading">
            <h3 class="text-center text-muted font-weight-700"><i class="fas fa-bookmark"></i> Latest Books</h3>
          </div>
          <div class="sidebar-widget latest-post mb-3 px-4 py-2">
            {% for book in latest_books %}
            {% if book.review == 'True' %}
            <div class="py-2">
              <h6 class="my-2">
                <a class="text-blue font-weight-700" href="{% url 'books-details' book.slug %}">
                  {{ book.name }}
                </a>
              </h6>
              <span class="text-sm text-muted" >
                {{ book.created|date:"d N Y" }}
            </span>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      
      <div class="book-search-bg mb-4 ms-3">
        <div class="panel-heading book-search-heading">
          <h2 class="text-center font-weight-700">All Category({{category_count}})</h2>
        </div>
        <ul class="list-unstyled mb-3 px-4 py-2 my-2">
          {% for cat,count in category_dict %}
          <li class="align-items-center mt-3">
            <a class="text-blue font-weight-700" href="{% url 'books-category' cat.slug %}">{{ cat.name }}({{count}})</a>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>

{% endblock %}