{% extends "users/main.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap %}
<link rel="stylesheet" href='{% static "css/style.css" %}'>

{% block content %}
<div class="container">
    <div class="form-div">
        <h1 class="text-center text-blue">{{task}} Blog</h1><br>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form|bootstrap }}
            
            <input class="btn btn--sub btn--lg  my-md btn-blue" type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}