<!DOCTYPE html>
{% extends 'users/main.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>Profile</title>
</head>
<body>
    {% block content %}

<section id="content" class="container">
    <!-- Begin .page-heading -->
    <div class="page-heading">
        <div class="media clearfix">
          <div class="media-left pr30">
            <div class="user-heading round">
                <a href='{% url "user-profile" %}'>
                <img class="media-object mw150" src='{{customer.customerImageURL}}' alt="...">
                </a>
            </div>
            <h1 class="media-heading text-center">{{customer.first_name}} {{customer.last_name}}</h1>
            <p class="text-center">{{customer.email}}</p>
          </div>                      
          <div class="media-body va-m">
            <div class="d-flex justify-content-between">
                <h1>Personal Info</h1>
                <div class="d-flex align-items-center">
                    <a class="btn btn-darkred" href='{% url "edit-user-profile" %}'><i class="fas fa-edit"></i> Edit profile</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <p><span>Username </span>: {{customer.username}}</p>
                    <p><span>First Name </span>: {{customer.first_name}}</p>
                    <p><span>Last Name </span>: {{customer.last_name}}</p>
                    <p><span>Email </span>: {{customer.email}}</p>
                    <p><span>Phone </span>: {{customer.phone}}</p>
                </div>
                <div class="col-md-6">
                    <p><span>Address </span>: {{customer.address}}</p>
                    <p><span>Occupation </span>: {{customer.occupation}}</p>
                    <p><span>Gender </span>: {{customer.gender}}</p>
                    <p><span>Birthday</span>: {{customer.birth_date}}</p>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                  <span class="panel-icon">
                    <i class="fa fa-pencil-alt"></i>
                  </span>
                  <span class="panel-title">About Me</span>
                </div>
                <div class="panel-body pb5">
    
                  <h6>Experience</h6>
    
                  <h4>Work</h4>
                  <p class="text-muted">
                      None
                  </p>
    
                  <hr class="short br-lighter">
    
                  <h6>Education</h6>
    
                  <h4>Bachelor of Science</h4>
                  <p class="text-muted">
                      None
                  </p>
    
                  <hr class="short br-lighter">
    
                  <h6>Accomplishments</h6>
    
                  <h4>Successful Business</h4>
                  <p class="text-muted pb10">
                      None
                  </p>
    
                </div>
            </div>
          
            <div class="panel">
                <div class="panel-heading">
                <span class="panel-icon">
                    <i class="fa fa-trophy"></i>
                </span>
                <span class="panel-title"> My Skills</span>
                </div>
                <div class="panel-body pb5">
                    <p>None</p>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                  <span class="panel-icon">
                    <i class="fa fa-star"></i>
                  </span>
                  <span class="panel-title">Social Media Handles</span>
                </div>
                <div class="panel-body pn">
                  <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                    <!-- <thead>
                      <tr class="hidden">
                        <th class="mw30">#</th>
                        <th>First Name</th>
                        <th>Revenue</th>
                      </tr>
                    </thead> -->
                    <tbody>
                        <tr>
                            <td>
                                <a href="#" title="linkedin link">
                                    <span class="fab fa-linkedin fs35 text-primary"></span>
                                </a>
                            </td>
                            <td>linkedin</td>
                          </tr>
                          <tr>
                            <td>
                                <a href="#" title="github link">
                                    <span class="fab fa-github-square fs35 text-dark"></span>
                                  </a>
                            </td>
                            <td>github</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" title="facebook link">
                                    <span class="fab fa-facebook-square fs35 text-primary"></span>
                                </a>
                            </td>
                            <td>facebook</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" title="twitter link">
                                    <span class="fab fa-twitter-square fs35 text-info"></span>
                                </a>
                            </td>
                            <td>twitter</td>
                        </tr>
                        
                        <tr>
                            <td>
                                <a href="#" title="twitter link">
                                    <span class="fab fa-instagram-square fs35 text-danger"></span>
                                </a>
                            </td>
                            <td>instagram</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <div class="panel">
                <form>
                    <textarea placeholder="Post your books for sell or exchange." rows="2" class="form-control input-lg p-text-area"></textarea>
                </form>
                <footer class="panel-footer panel-post d-flex justify-content-between">
                    <ul class="nav nav-pills">
                        <li>
                            <a href="#"><i class="fa fa-map-marker-alt"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-camera"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class=" fa fa-film"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-microphone"></i></a>
                        </li>
                    </ul>
                    <button class="btn btn-darkred"><i class="far fa-paper-plane"></i> Post</button>
                </footer>
            </div>

          <div class="tab-block">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab1" data-toggle="tab">Recent Posts</a>
              </li>
            </ul>
            <div class="tab-content p30" style="height: 400px; margin-bottom: 40px;">
              <div id="tab1" class="tab-pane active">
                
                
              </div>
              <div id="tab2" class="tab-pane"></div>
              <div id="tab3" class="tab-pane"></div>
              <div id="tab4" class="tab-pane"></div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>

    {% endblock %}
</body>
</html>