<!DOCTYPE html>
{% extends 'users/main.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Change Username</title>
</head>
<body>
    {% block content %}
    <div class="register">
        <div class="row">
            <div class="d-flex justify-content-center">
            <div class="col-md-9 register-oval">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Change Username</h3>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row register-form">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-text" for="">Old Password<span class="text-blue">*</span></label>
                                        <input type="password" id="oldpassword" class="form-control" name="oldpassword" placeholder="Enter Your Old Password" Required>
                                    </div>
                                    <div class="form-group">
                                        <label class="label-text" for="">New Password<span class="text-blue">*</span></label>
                                        <input type="password" id="password1" class="form-control" name="password1" placeholder="Create a New Password" Required>
                                    </div>
                                    <div class="form-group">
                                        <label class="label-text" for="">Confirm New Password<span class="text-blue">*</span></label>
                                        <input type="password" id="password2" class="form-control" name="password2" placeholder="Confirm Your New Password" Required>
                                    </div>
                                    {% for message in messages %}
                                    <strong class="text-darkred" id="messages">{{message}}</strong>
                                    {% endfor %}
                                    <input type="submit" class="btnRegister btn-blue"  value="Change Password"/>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>