{% extends 'users/main.html' %}
{% load static %}
{% load bootstrap %}
<link rel="stylesheet" href='{% static "css/style.css" %}'>
{% block content %}
<div class="container">
    <div class="form-div">
        <h1 class="text-center">Edit Profile</h1><br>
        <a class="btn btn-blue width-full" href='{% url "change-username" %}'><i class="fas fa-edit"></i> Change Username</a><br><br>
        <a class="btn btn-blue width-full" href='{% url "change-email" %}'><i class="fas fa-edit"></i> Change Email Address</a><br><br>
        <a class="btn btn-blue width-full" href='{% url "change-password" %}'><i class="fas fa-edit"></i> Change Password</a><br><br>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
        
            {{ form|bootstrap }}
        
            <input class="btn btn--sub btn--lg  my-md btn-blue" type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}