{% autoescape off %}

Hello {{name}}, 

{{text1}}

{% if link == 'account-activate' %}
Confirmation Link - http://{{domain}}{% url 'account-activate' uidb64=uid token=token %}

{% elif link == 'change-username-confirm' %}
Confirmation Link - http://{{domain}}{% url 'change-username-confirm' uidb64=uid token=token username=username %}

{% elif link == 'change-email-confirm' %}
Confirmation Link - http://{{domain}}{% url 'change-email-confirm' uidb64=uid token=token email=email %}

{% endif %}

If this wasn't you, please avoid this email.

Thank you,
Boi-Binimoy Team.

{% endautoescape %}
