{% load static %}
<style>
    .footer-p{
        font-size: 14px;
    }
    .footer-small{
        font-size: 12px;
    }
</style>
<footer class="text-center text-lg-start bg-footer text-white">
    <div class="container">
        <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom pb-3">
            <div class="me-5 d-none d-lg-block">
                <span><i class="fas fa-clone" aria-hidden="true"></i> Get connected with us on social networks</span>
            </div>
            <div>
                <a href="https://mahmudalam.com/" target="_blank" class="me-5 text-white"><i class="fa fa-globe"></i></a>
                <a href="https://www.linkedin.com/in/mahmudalamofficial/" target="_blank" class="me-5 text-white"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/Mahmud-Alam" target="_blank" class="me-5 text-white"><i class="fab fa-github"></i></a>
                <a href="https://www.facebook.com/mahmudalam.official/" target="_blank" class="me-5 text-white"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/MahmudAlamOffic" target="_blank" class="me-5 text-white"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/MahmudAlam.Official/" target="_blank" class="me-5 text-white"><i class="fab fa-instagram"></i></a>
            </div>
        </section>
        <section class="border-bottom">
            <div class="container text-center text-md-start mt-4">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
                        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a><br><br>
                        <p class="footer-p">Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
                        <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-bullhorn" aria-hidden="true"></i> Our Services</h6>
                        <p class="footer-p"><a href="{% url 'books-home' %}" class="text-reset"><i class="fa fa-book" aria-hidden="true"></i> New Books</a></p>
                        <p class="footer-p"><a href="{% url 'blogs-home' %}" class="text-reset"><i class="fa fa-edit" aria-hidden="true"></i> New Posts</a></p>
                        <p class="footer-p"><a href="{% url 'books-home' %}" class="text-reset"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Buy Books</a></p>
                        <p class="footer-p"><a href="{% url 'books-home' %}" class="text-reset"><i class="fas fa-clipboard" aria-hidden="true"></i> Exchange Books</a></p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
                        <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-users" aria-hidden="true"></i> About Us</h6>
                        <p class="footer-p"><a href="{% url 'about' %}" class="text-reset"><i class="fas fa-building" aria-hidden="true"></i> About</a></p>
                        <p class="footer-p"><a href="{% url 'contact' %}" class="text-reset"><i class="fas fa-phone" aria-hidden="true"></i> Contact</a></p>
                        <p class="footer-p"><a href="" class="text-reset"><i class="fas fa-cog" aria-hidden="true"></i> Settings</a></p>
                        <p class="footer-p"><a href="{% url 'contact' %}" class="text-reset"><i class="fas fa-question-circle" aria-hidden="true"></i> Help</a></p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
                        <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-map-marker" aria-hidden="true"></i> Contact Details</h6>
                        <p class="footer-p"><i class="fas fa-home me-3"></i> A/2, Jahurul Islam Avenue<br> Jahurul Islam City, Aftabnagar<br> Dhaka-1212, Bangladesh</p>
                        <p class="footer-p"><i class="fas fa-envelope me-3"></i>info.boibinimoy@gmail.com</p>
                        <p class="footer-p"><i class="fas fa-phone me-3"></i> + 02-555 555555</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-1 text-small">
        <small class="footer-small">COPYRIGHT © 2021 Boi-Binimoy</small>
    </div>
</footer>