{% extends 'users/main.html' %}
{% load static %}

{% block content %}
<style>
    body{
        background:linear-gradient(0deg, rgba(11,57,83, 0.7), rgba(11,57,83, 0.7)), url("{% static 'images/books-cover.png' %}");
    }
</style>
<div class="banner-div">
    <div class="container">
    {% for message in messages %}
    <div class="alert  alert-{{ message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% if request.user.is_authenticated %}
    <div class="banner-text">
        <h1>Welcome {{request.user.first_name}} {{request.user.last_name}} to Boi-Binimoy!</h1>
        <h4>You can find you desire book from our website.</h4>
    </div>
    {% else %}
    <div class="banner-text">
        <h1>Welcome to Boi-Binimoy!</h1>
        <h4>You can find you desire book from our website.</h4>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="card light-white">
            <div class="card-body">
                <h5 class="card-title">Become a Member!</h5>
                <p class="card-text">Are you new in Boi-Binimoy? <br>Please register yourself.</p>
                <a href="{% url 'register' %}" class="btn btn-blue"><i class="fas fa-share-square"></i> Register</a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card light-white">
            <div class="card-body">
                <h5 class="card-title">Already a Member!</h5>
                <p class="card-text">Are you already a member of Boi-Binimoy? <br>Please Login your profile.</p>
                <a href="{% url 'login' %}" class="btn btn-blue"><i class="fas fa-sign-in-alt"></i> Login</a>
            </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}