<!DOCTYPE html>
{% extends 'users/main.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>Profile</title>
</head>
<body>
    {% block content %}

<section id="content" class="container">
    <!-- Begin .page-heading -->
    <div class="page-heading">
        <div class="media clearfix">
            <div class="media-left pr30">
                <div class="user-heading round">
                    <a href='{% url "user-profile" customer.username %}'>
                    <img class="media-object mw150" src='{{customer.customerImageURL}}' alt="...">
                    </a>
                </div>
                <h1 class="media-heading text-center">{{customer.first_name}} {{customer.last_name}}</h1>
                <p class="text-center">{{customer.email}}</p>
            </div>                      
            <div class="media-body va-m">
                <div class="d-flex justify-content-between">
                    <h1>Personal Info</h1>
                    {% if flag == True %}
                    <div class="d-flex align-items-center">
                        <a class="btn btn-blue" href='{% url "edit-user-profile" %}'><i class="fas fa-edit"></i> Edit profile</a>
                    </div>
                    {% endif %}
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <p><span>Username </span>: {{customer.username}}</p>
                        <p><span>First Name </span>: {{customer.first_name}}</p>
                        <p><span>Last Name </span>: {{customer.last_name}}</p>
                        <p><span>Email </span>: {{customer.email}}</p>
                        <p><span>Phone </span>: {{customer.phone}}</p>
                    </div>
                    <div class="col-md-6">
                        <p><span>Address </span>: {{customer.address}}</p>
                        <p><span>Occupation </span>: {{customer.occupation}}</p>
                        <p><span>Gender </span>: {{customer.gender}}</p>
                        <p><span>Birthday</span>: {{customer.birth_date}}</p>
                    </div>
                </div>
                <br><br>
                {% for message in messages %}
                <div class="alert  alert-{{ message.tags}} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                  <span class="panel-icon">
                    <i class="fa fa-pencil-alt"></i>
                  </span>
                  <span class="panel-title">About Me</span>
                </div>
                <div class="panel-body pb5">
    
                  <h6>Experience</h6>
    
                  <h4>Work</h4>
                  <p class="text-muted">
                      None
                  </p>
    
                  <hr class="short br-lighter">
    
                  <h6>Education</h6>
    
                  <h4>Bachelor of Science</h4>
                  <p class="text-muted">
                      None
                  </p>
    
                  <hr class="short br-lighter">
    
                  <h6>Accomplishments</h6>
    
                  <h4>Successful Business</h4>
                  <p class="text-muted pb10">
                      None
                  </p>
    
                </div>
            </div>
          
            <div class="panel">
                <div class="panel-heading">
                <span class="panel-icon">
                    <i class="fa fa-trophy"></i>
                </span>
                <span class="panel-title"> My Skills</span>
                </div>
                <div class="panel-body pb5">
                    <p>None</p>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                  <span class="panel-icon">
                    <i class="fa fa-star"></i>
                  </span>
                  <span class="panel-title">Social Media Handles</span>
                </div>
                <div class="panel-body pn">
                  <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                    <!-- <thead>
                      <tr class="hidden">
                        <th class="mw30">#</th>
                        <th>First Name</th>
                        <th>Revenue</th>
                      </tr>
                    </thead> -->
                    <tbody>
                        <tr>
                            <td>
                                <a href="#" title="linkedin link">
                                    <span class="fab fa-linkedin fs35 text-primary"></span>
                                </a>
                            </td>
                            <td>linkedin</td>
                          </tr>
                          <tr>
                            <td>
                                <a href="#" title="github link">
                                    <span class="fab fa-github-square fs35 text-dark"></span>
                                  </a>
                            </td>
                            <td>github</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" title="facebook link">
                                    <span class="fab fa-facebook-square fs35 text-primary"></span>
                                </a>
                            </td>
                            <td>facebook</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" title="twitter link">
                                    <span class="fab fa-twitter-square fs35 text-info"></span>
                                </a>
                            </td>
                            <td>twitter</td>
                        </tr>
                        
                        <tr>
                            <td>
                                <a href="#" title="twitter link">
                                    <span class="fab fa-instagram-square fs35 text-danger"></span>
                                </a>
                            </td>
                            <td>instagram</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            {% if flag == True %}
            <div class="panel">
                <form>
                    <textarea placeholder="Post your books for sell or exchange." rows="2" class="form-control input-lg p-text-area"></textarea>
                </form>
                <footer class="panel-footer panel-post d-flex justify-content-between">
                    <ul class="nav nav-pills">
                        <li>
                            <a href="#"><i class="fa fa-map-marker-alt"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-camera"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class=" fa fa-film"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-microphone"></i></a>
                        </li>
                    </ul>
                    <a href="{% url 'create-post' %}" class="btn btn-blue"><i class="far fa-paper-plane"></i> Post New Book</a>
                </footer>
            </div>
            {% endif %}

          <div class="tab-block">
            {% if flag == True %}
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="" data-toggle="tab">Recent Posts</a>
              </li>
            </ul>
            {% else %}
            <ul class="nav nav-tabs mt-3">
              <li class="active">
                <a href="" data-toggle="tab">{{customer.username}}'s Recent Posts</a>
              </li>
            </ul>
            {% endif %}
            <div class="tab-content p30 mb-5" >

              {% if books %}
              {% for book in books %}
              <div class="card mb-5">
                  <img style="width: 40%; padding-top: 30px; margin-left: auto; margin-right: auto;" src="{{ book.bookImageURL }}" class="card-img-top" alt="{{ book.name }}">
                  <div class="card-body">
                    <div class="mb-3">
                      <h2 class="">
                          <a class="text-blue" href="{% url 'books-details' book.slug %}"> {{ book.name }} </a>
                        </h2>
                        <h6 class="text-blue"> by {{book.author}} (Author)</h6>
                  </div>
                  <div class="blog-item-meta mb-2">
                    <span class="text-black text-capitalize me-3">
                      <i class="fas fa-book mr-2"></i> {{ book.edition }} Edition
                    </span>
                    <!-- <span class="text-capitalize me-3">
                      <i class="fas fa-bookmark mr-2"></i> {{ book.category.category }} Category
                    </span> -->
                    {% for cat in book.category.all %}
                        <span class="text-capitalize me-3">
                          &bull; {{ cat.name }}
                        </span>
                    {%endfor%}
                  </div>
                  <div class="mb-3">
                    <span class="text-black text-capitalize me-3">
                      <i class="far fa-calendar-alt mr-2"></i> {{ book.created|date:"d N Y" }}
                    </span>
                    <a href="{% url 'user-profile' book.creator.username %}" class="text-blue text-capitalize mr-3">
                      <i class="fa fa-user mr-2"></i> {{ book.creator.first_name }}
                    </a>
                  </div>
                  <p class="card-text">{{ book.description|truncatechars:250 }}</p>

                  <div class="d-flex align-items-end">
                    {% if book.exchange == 'Yes' %}
                    <p class="font-weight-700">Exchange: <span style="font-size: 1.5em;" class="font-weight-900 text-blue">{{book.exchange}}</span></p>
                    {% else %}
                    <p class="font-weight-700">Exchange: <span style="font-size: 1.5em;">{{book.exchange}}</span></p>
                    {% endif%}
                    {% if book.price != None %}
                    <p class="font-weight-700 ms-3">Price: <span class="font-weight-900 text-blue" style="font-size: 2em;">&#2547;</span><span style="font-size: 1.5em;" class="font-weight-900 text-blue">{{book.price}}</span></p>
                    {% else %}
                    <p class="font-weight-700 ms-3">Price: <span style="font-size: 1.5em;">{{book.price}}</span></p>
                    {% endif%}
                  </div>
                  
                  <p class="card-text"><small class="text-muted">Last Updated: {{ book.updated }}</small></p>
                  
                  <div class="d-flex justify-content-between">
                    <a href="{% url 'books-details' book.slug %}" class="btn btn-blue btn-icon">
                      See Details <i class="fas fa-angle-double-right"></i>
                    </a>
                    {% if flag == True %}
                    <a href="{% url 'update-post' book.id %}" class="btn btn-blue btn-icon">
                      <i class="fas fa-edit"></i> Update Post
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}

              {% else %}
              {% if flag == True %}
              <p>You haven't post any book yet. Please post your unused books here for selling or exchanging. Thank you.</p>
              {% else %}
              <p>{{customer.first_name}} {{customer.last_name}} hasn't post any book yet.</p>
              {% endif %}
              {% endif %}

            </div>
          </div>
        </div>
      </div>
      </div>
  </section>

    {% endblock %}
</body>
</html>